* {
    padding: 0;
    margin: 0;
    font-family: "Sen", sans-serif;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

body {
    background: linear-gradient(to right,
            #000000 36%,
            #000000 0%,
            #181823 20%,
            #181823 100%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right,
            #000000 36%,
            #000000 0%,
            #181823 20%,
            #181823 100%);
}

.logo {
    width: 78.43px;
    height: 24px;
    margin: calc(0.7vw + 21.33px) calc(40.5vw + 43.09px) calc(0.7vw + 21.33px) calc(4.8vw + 2.66px);
}


/* Скрываем бургер-меню по умолчанию */
.burger-menu {
    display: none;
    /* Скрываем по умолчанию */
    cursor: pointer;
    flex-direction: column;
    justify-content: space-evenly;
    height: 15px;
    /* Высота всего блока бургер-меню */
    width: 20px;
    /* Ширина блока соответствует максимальной ширине верхней линии */
    margin-right: 20px;
}

.burger-menu .line {
    background-color: #C4C4C4;
    /* Цвет линий */
    height: 3px;
    /* Толщина всех линий */
    border-radius: 5px;
    /* Скругление углов линий */
}

.nav-links {
    width: 476px;
    margin-right: 72px;
}

.burger-menu .top {
    width: 18px;
    /* Ширина верхней линии */
}

.burger-menu .bottom {
    width: 13px;
    /* Ширина нижней линии */

}

/* Ссылки для навигации */
.nav-links ul {
    display: flex;
    list-style: none;
}

.nav-links ul li {
    display: inline-block;
    height: 88px;
    width: 132px;
    text-align: center;
    padding-top: 32px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.contact-btn:hover {
    background-color: #5221E6;
    border-radius: 5%
}

section .robinW {
    background: linear-gradient(to right,
            #000000 36%,
            #000000 0%,
            #181823 20%,
            #181823 100%);
    background-repeat: no-repeat;

}

.container {
    position: relative;
    width: 100%;
    max-width: 2000px;
    /* Задаем максимальную ширину контейнера */
}

.container img {
    width: 48%;
    /* Изображение будет подстраиваться под ширину контейнера */
    height: auto;
    display: block;
}

.containerText {
    position: absolute;
    top: 38%;
    /* Вертикально центрируем */
    left: 44%;
    /* Горизонтально центрируем */
    transform: translate(-5%, -50%);
    /* Центрируем относительно середины контейнера */
    /* width: calc(40.7vw + 180.66px); */
    color: white;
}


.containerText {
    margin-top: 90px;
}

h1 {
    font-size: calc(4.3vw + 16.66px);
    font-weight: 700;
    line-height: calc(5.1vw + 20.05px);
}

.grey {
    color: #FFFFFF80;
    font-size: calc(4.3vw + 16.66px);
    font-weight: 700;
    line-height: calc(5.1vw + 20.05px);
}

.containerText p {
    margin-top: calc(1.5vw + 10.66px);
    font-size: 18px;
}


.workExperience {
    background-color: #000000;
}

h3 {
    font-size: 16px;
    color: #8491A0;
    text-transform: uppercase;
    margin: calc(6.7vw + 24px) calc(95.2vw + 160.66px) 0 calc(4.8vw + 2.66px);
    white-space: nowrap;
    /* Предотвращает перенос текста */
}

h4 {
    font-size: calc(2.1vw + 24px);
    color: white;
    margin: 8px calc(60.9vw + 199px) 40px calc(4.8vw + 2.66px);
    width: calc(34.3vw + 150px);
}

.pastWorkPlaces {
    color: white;
    display: flex;
    gap: 0px 40px;

}

.google,
.facebook,
.Dribbble {
    width: calc(8.9vw + 288px);
    margin: 40px 20px calc(8.9vw + 16px) calc(4.8vw + 3px);

}

.pastWorkPlaces h5 {
    font-size: 117px;
    color: #8491A0;
    width: 126px;

}

.pastWorkPlaces h6 {
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    width: calc(1.8vw + 313px);
    color: #FFFFFF;
}


.google,
.facebook,
.Dribbble,
span {
    width: calc(4.4vw + 304px);
    font-size: 16px;
    color: #8491A0;
}

.company-name1 {
    color: #3CC74E;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    width: calc(1.8vw + 313px);
}

.company-name2 {
    color: #609BFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    width: calc(1.8vw + 313px);
}

.company-name3 {
    color: #E95D90;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    width: calc(1.8vw + 313px);
}


.phcontent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #FFF3E4;
}

#glassballMobile {
    display: none;
}

.phcontent img {
    width: calc(33.3vw + 240px);
}

.text-content {
    width: 50%;
}

.text-content h4 {
    color: #181823;
    width: calc(19.4vw + 250.33px);
    margin: calc(6.7vw + 24px) calc(9.2vw + 13px) 24px calc(4.8vw + 2.66px);
}

.text-content p {
    color: #5B6876;
    width: calc(25vw + 185px);
    margin: 0px calc(4.8vw + 2.66px) calc(4vw + 76.33px) calc(4.8vw + 2.66px);
    font-size: 18px;
}

.text-content a {
    color: #181823;
    width: 120px;
    margin: 0px calc(28.5vw + 121px) calc(7vw + 22px) calc(4.8vw + 2.66px);
    display: inline-block;
}

/*чат гпт */
.skillset {
    background-color: #000000;
    padding-bottom: 120px;
    padding-top: 120px;
    color: #FFFFFF;
}

.skillsetContainer {
    display: flex;
    /* Flexbox для горизонтального выравнивания */
    align-items: flex-start;
    /* Выровнять по верхней части */
    justify-content: space-between;
    /* Распределить пространство */
    gap: 24px 140px;
    /* Отступ между колонками */
    margin-left: 72px;

}

.skillsetContainerTxtBig {
    flex: 1;
    /* Занять одну часть пространства */
    max-width: 416px;
    /* Ограничить ширину текста */
    text-align: left;
}

.skillsetContainerTxtBig h4 {
    margin-bottom: 20px;
    text-align: left;
    margin: auto;
}

.skillsetContainerTxtBig p {
    color: #8491A0;
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
}

.aboutSkills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    flex: 2;
    /* Занять две части пространства */
}

.aboutSkills div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.aboutSkills img {
    margin-bottom: 24px;
}

.aboutSkills h6 {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.aboutSkills span {
    color: rgba(132, 145, 160, 1);
    font-size: 16px;
    line-height: 1.6;
}


.productDesign,
.motionDesign,
.visualDesign,
.photography {
    margin-bottom: 40px;
}

.elementsList {
    overflow: hidden;
    width: 100%;
}

.elementsList ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slide 12s infinite linear;
    width: calc(340px * 12);
    /* 6 элементов + их копии, всего 12 */
}

.element {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #181823;
    width: 340px;
    height: 140px;
}

.element img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

@keyframes slide {
    100% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);

    }
}

.myProjects {
    background-color: #000000;
    padding-bottom: 153px;
}

.projectContainer {
    margin: 0px 72px auto 72px;
}


.projectGrid h3 {
    /* width: 572px; */
    margin: 0px 0px 8px 0px;
}

.projectContainer h4 {
    display: inline;
    width: auto;
    margin: 8px 0px 80px 0px;
}

.projectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas:
        "project1 project2"
        "project1 project2"
        "project1 project4"
        "project3 project4"
        "project3 project4"
        "project3 project4"
        "project3 view-more"
        "project3 view-more";
    gap: 24px 24px;
    margin: 0px 0px 0px 0px;
}

.project1 {
    grid-area: project1;
}

.project2 {
    grid-area: project2;
}

.project3 {
    grid-area: project3;
}

.project4 {
    grid-area: project4;
}

.view-more {
    grid-area: view-more;
}

.projectGrid img {
    width: 100%;
}

.project1,
.project2,
.project3,
.project4 {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
}


.projectTxt {
    background-color: #181823;
    margin-top: -4px;
    padding: 40px 32px;
    /* margin-bottom: 24px; */
}


.projectTxt h6 {
    font-size: 24px;
    margin-bottom: 13px;
    color: white;
}

.projectTxt span {
    color: #8491A0;
    font-size: 18px;
    margin-bottom: 13px;
    font-weight: 400;
    line-height: 27px;
}


.view-more {
    justify-self: center;
    align-content: center;
    text-align: center;
    width: 247px;
    height: 75px;
    border: 1px solid #5221E6;
}

.view-more a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.instagramContent {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    background-color: #FBE4FF;
}

#glassballMobile {
    display: none;
}

.instagramContent img {
    width: 50%;
}

.text-instagram {
    width: 50%;
}

.text-instagram h4 {
    color: #181823;
    width: calc(19.4vw + 250.33px);
    margin: calc(6.7vw + 24px) calc(9.2vw + 13px) 24px calc(4.8vw + 2.66px);
}

.text-instagram p {
    color: #5B6876;
    width: calc(25vw + 185px);
    margin: 0px calc(4.8vw + 2.66px) calc(4vw + 76.33px) calc(4.8vw + 2.66px);
    font-size: 18px;
    line-height: 150%;
}

.text-instagram a {
    color: #181823;
    width: 120px;
    margin: 0px calc(28.5vw + 121px) calc(7vw + 22px) calc(4.8vw + 2.66px);
    display: inline;
    text-decoration-line: underline;
    text-underline-offset: 10px;
}

.dribbbleWork {
    background-color: #000000;
}

.dribbbleWorkContent {
    display: block;
}

.dribbbleWorkContentTxt {
    padding-top: calc(5.2vw + 45.33px);
    margin: 0 calc(55.7vw + 180.66px) auto calc(15vw + 34px);
    width: calc(29.3vw + 214.66px);
}


.dribbbleWorkContentTxt h4 {
    margin: unset;
    font-size: 55px;
}

.dribbbleWorkContentTxt p {
    color: #5B6876;
    width: 100%;
    /* margin: 0px calc(4.8vw + 2.66px) calc(4vw + 76.33px) calc(4.8vw + 2.66px); */
    font-size: 18px;
    line-height: 150%;
    margin-top: 24px;
    margin-bottom: 40px;
}

.dribbbleWorkContentTxt a {
    color: #FFFFFF;
    width: auto;
    text-decoration-line: underline;
    text-underline-offset: 10px;
    line-height: 150%;
}

.dribbbleWorkContent img {
    width: calc(66.3vw + 121.3px);
    margin: calc(5.2vw + 45.33px) 182px auto 180px;
}

.peopleSay {
    background-color: #000000;
    padding-bottom: 153px;
    padding-top: 153px;

}

.peopleSayElements img {
    width: 100%;
}

.peopleSayElements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas:
        "peopleSayElement1 peopleSayElement2"
        "peopleSayElement1 peopleSayElement2"
        "peopleSayElement1 peopleSayElement3"
        "peopleSayElement1 peopleSayElement3"
        "peopleSayElement1 peopleSayElement4"
        "peopleSayElement1 peopleSayElement4";
    gap: 120px 24px;
    margin: 0px 0px 0px 0px;

}


.peopleSayElement1 {
    grid-area: peopleSayElement1;
    width: 636px;
    margin: 120px 24px auto 72px;
}


.peopleSayElement1 h4 {
    margin: unset;
    padding-right: 48px;
}


.peopleSayElement1 p {
    margin: unset;
    color: #8491A0;
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 150%;
    padding-right: 48px;
}

.peopleSayElement1 a {
    color: #FFFFFF;
    width: auto;
    text-decoration-line: underline;
    text-underline-offset: 10px;
    line-height: 150%;
}

.peopleSayElement2 {
    grid-area: peopleSayElement2;
    background-color: #000000;
    width: 636px;
    margin-top: 120px;
}

.peopleSayElement3 {
    grid-area: peopleSayElement3;
    background-color: #000000;
    width: 636px;

}

.peopleSayElement4 {
    grid-area: peopleSayElement4;
    background-color: #000000;
    width: 636px;
}

.peopleSayElement1Txt, .peopleSayElement2Txt, .peopleSayElement3Txt {
    outline: 1px solid rgba(91, 104, 118, 1);
    padding-bottom: 64px;
}

.peopleSayElement1Txt h6, .peopleSayElement2Txt h6, .peopleSayElement3Txt h6 {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    margin: -3px 64px 64px 64px;
    padding-top: 64px;
}

.peopleSayElement1Txt p, .peopleSayElement2Txt p, .peopleSayElement3Txt p {
    color: rgba(91, 104, 118, 1);
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    margin: 4px 64px 0px 64px;
    padding-top: 0px;
}

/**/
.photography-section {
    padding-top: 1px;
    margin: 0 0 0 0;
    background-color: #000000;
}

.content h4 {
    margin: 120px 780px 24px 72px;
}

.content p {
    font-size: 18px;
    margin: 0px 780px 64px 72px;
    color: rgba(132, 145, 160, 1);
}

.buttons {
    margin: 0px 878px 40px 72px;
}
.btn {
    background-color: #000; /* Цвет фона для неактивных кнопок */
    color: #fff;            /* Цвет текста для неактивных кнопок */
    border: 1px solid rgba(82, 33, 230, 1); /* Граница для неактивных кнопок */
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn.active {
    background-color: rgba(82, 33, 230, 1); /* Цвет фона для активной кнопки */
    color: #fff;                            /* Цвет текста для активной кнопки */
    
}

.btn:hover {
    background-color: rgba(82, 33, 230, 0.8); /* При наведении */
    border-color: rgba(82, 33, 230, 1);
}

.gallery {
    display: flex;
    justify-content: left;
    gap: 24px;
    margin: 0px 72px 0px 80px;
    padding-bottom: 72px;
}

.image {
    width: 320px;
    height: 420px;
    border-radius: 2px;
    display: none; /* Images are hidden initially */
}

.image.active {
    display: block;
}


@media (max-width: 736px) {

/**/

.content h4 {
    margin: 48px 137px 0px 20px;
    text-align: left;
}

.content p {
    font-size: 18px;
    margin: 24px 20px 0px 20px;
    color: rgba(132, 145, 160, 1);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Две колонки */
    grid-gap: 10px; /* Расстояние между кнопками */
    margin: 40px 20px 40px 20px;
}

.gallery {
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    margin: 0px 20px 0px 20px;
}

.image {
    width: 100%;
    max-height: auto;
}

    .skillset {
        padding-bottom: 0px;
    }
    
    .skillsetContainer {
        flex-direction: column;
        /* На мобильных устройствах размещаем вертикально */
        margin-left: 20px;
        
    }

    .aboutSkills {
        grid-template-columns: 1fr;
        /* Все элементы в одну колонку */
    }


    .elementsList ul {
        display: grid;
        /* Переключение на grid-сетку */
        grid-template-columns: repeat(2, 1fr);
        /* 2 элемента на горизонтальной оси */
        grid-template-rows: repeat(2, auto);
        /* 2 элемента на вертикальной оси */
        gap: 0px;
        /* Зазор между элементами */
        width: 100%;
        /* Ширина списка будет 100% */
        animation: none;
        /* Отключаем анимацию для grid */
    }

    .element.duplicate {
        display: none;
        /* Скрываем дублированные элементы на маленьких экранах */
    }

    .element {
        width: 100%;
        /* Каждый элемент будет занимать всю ширину своей grid-ячейки */
    }

    .projectContainer {
        margin: 64px 20px 20px 20px;
    }

    .projectContainer h3 {
        width: 100%;
        margin: 0px 0px 8px 0px;
    }

    .projectContainer h4 {
        margin-top: 8px;
    }

    .projectGrid {
        display: flex;
        flex-wrap: wrap;
    }

    .view-more {
        display: none;
    }


    .dribbbleWorkContentTxt {
        margin: 0px 20px;
        width: calc(29.3vw + 214.66px);
    }


    .dribbbleWorkContentTxt h4 {
        margin: unset;
        text-align: left;
    }


    .dribbbleWorkContent img {
        width: 90%;
        margin: 64px 20px 0px 20px;
    }


    .peopleSay {
        padding-bottom: 48px;
        padding-top: 0px;
    
    }
    .peopleSayElements {
        display: flex;
        flex-wrap: wrap;
        gap: 64px;
    }

    .peopleSayElement1 {
        width: 100%;
        margin: 48px 20px 0px 20px;
        text-align: left;
    }

    .peopleSayElement1 h4 {
        text-align: left;

    }

    .peopleSayElement2, .peopleSayElement3, .peopleSayElement4  {
        width: 360px;
        margin: 0px 20px 0px 20px;
    }
    .peopleSayElement1Txt, .peopleSayElement2Txt, .peopleSayElement3Txt {
        padding-bottom: 32px;
    }
    .peopleSayElement1Txt h6, .peopleSayElement2Txt h6, .peopleSayElement3Txt h6 {
        margin: -3px 32px 64px 32px;
        padding-top: 32px;
    }

    .peopleSayElement1Txt p, .peopleSayElement2Txt p, .peopleSayElement3Txt p {
        margin: 4px 32px 0px 32px;
        padding-top: 0px;
    }




}

@media (max-width:1490px) {

    .text-content {
        width: 100%;
    }

    .text-content h4,
    .text-content p {
        width: auto;
        text-align: center;
    }


    .workExperience h3,
    h4 {
        text-align: center;
        margin: 0px;
        width: auto;

    }

    .pastWorkPlaces {
        flex-direction: column;
        align-items: center;
    }

    .phcontent {
        justify-content: center;
    }


    #glassball {
        display: none;
    }


    .phcontent img {
        width: 100%;
    }


    .text-instagram {
        width: 100%;
    }

    .text-instagram h4,
    .text-instagram p {
        width: auto;
        text-align: left;
    }

    .text-instagram p {
        margin-bottom: 125.75px;
    }

    .instagramContent {
        justify-content: left;
    }

    #planetail {
        display: none;
    }

    #glassballMobile {
        display: unset;
        margin-top: 48px;
    }

    .instagramContent img {
        width: 100%;
    }


    .text-instagram a {
        /* padding-bottom: 48px; */
        display: inline;
        text-decoration-line: underline;
        text-underline-offset: 10px;
    }

}


/* Медиазапрос для экранов шириной менее 600px */
@media (max-width: 970px) {

    body {
        background: #000000;
    }

    .navbar {
        background-color: #000000;
        justify-content: unset;
    }

    .logo {
        width: 78.43px;
        height: 24px;
        margin: 24px 217.57px 24px 20px;
    }

    .nav-links {
        width: auto;
        margin-right: auto;
    }

    .nav-links ul {
        display: none;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.4);
        width: auto;
        z-index: 1;
        position: fixed;
        top: 45px;
        left: 256px;
    }

    .burger-menu {
        display: flex;
    }

    .nav-links.active ul {
        display: flex;
        flex-direction: column;
    }


    .nav-links ul li {
        display: block;
        padding: 15px;
    }

    .contact-btn:hover {
        background-color: #5221E6;
        border-radius: 5%
    }

    /* */
    .robinW {
        display: flex;
        flex-wrap: wrap;
    }

    h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: calc(5.1vw + 20.05px);
        padding: 48px 20px 0px 20px;
    }

    .container img {
        width: 100%;
        /* Изображение будет подстраиваться под ширину контейнера */
    }

    .containerText {
        margin: 48px 20px 0px 20px;
        display: contents;
        max-width: 320px;
    }

    .containerText p {
        margin: 16px 20px 48px 20px;
        font-size: 18px;
        color: #FFFFFF;
    }

}