* {
    padding: 0;
    margin: 0;
    font-family: "Sen", sans-serif;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

body {
    background: linear-gradient(to right,
            #000000 36%,
            #000000 0%,
            #181823 20%,
            #181823 100%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right,
            #000000 36%,
            #000000 0%,
            #181823 20%,
            #181823 100%);
}

.logo {
    width: 78.43px;
    height: 24px;
    /* margin: calc(0.7vw + 21.33px) calc(40.5vw + 43.09px) calc(0.7vw + 21.33px) calc(4.8vw + 2.66px); */
}


/* Скрываем бургер-меню по умолчанию */
.burger-menu {
    display: none;
    /* Скрываем по умолчанию */
    cursor: pointer;
    flex-direction: column;
    justify-content: space-evenly;
    height: 15px;
    /* Высота всего блока бургер-меню */
    width: 20px;
    /* Ширина блока соответствует максимальной ширине верхней линии */
    margin-right: 20px;
}

.burger-menu .line {
    background-color: #C4C4C4;
    /* Цвет линий */
    height: 3px;
    /* Толщина всех линий */
    border-radius: 5px;
    /* Скругление углов линий */
}

.nav-links {
    width: 476px;
    margin-right: 72px;
}

.burger-menu .top {
    width: 18px;
    /* Ширина верхней линии */
}

.burger-menu .bottom {
    width: 13px;
    /* Ширина нижней линии */

}

/* Ссылки для навигации */
.nav-links ul {
    display: flex;
    list-style: none;
}

.nav-links ul li {
    display: inline-block;
    height: 88px;
    width: 132px;
    text-align: center;
    padding-top: 32px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.contact-btn:hover {
    background-color: #5221E6;
    border-radius: 5%
}

section .robinW {
    background: linear-gradient(to right,
            #000000 36%,
            #000000 0%,
            #181823 20%,
            #181823 100%);
    background-repeat: no-repeat;

}

.container {
    position: relative;
    width: 100%;
    max-width: 2000px;
    /* Задаем максимальную ширину контейнера */
}

.container img {
    width: 48%;
    /* Изображение будет подстраиваться под ширину контейнера */
    height: auto;
    display: block;
}

.containerText {
    position: absolute;
    top: 38%;
    /* Вертикально центрируем */
    left: 44%;
    /* Горизонтально центрируем */
    transform: translate(-5%, -50%);
    /* Центрируем относительно середины контейнера */
    /* width: calc(40.7vw + 180.66px); */
    color: white;
}


.containerText {
    margin-top: 90px;
}

h1 {
    font-size: calc(4.3vw + 16.66px);
    font-weight: 700;
    line-height: calc(5.1vw + 20.05px);
}

.grey {
    color: #FFFFFF80;
    font-size: calc(4.3vw + 16.66px);
    font-weight: 700;
    line-height: calc(5.1vw + 20.05px);
}

.containerText p {
    margin-top: calc(1.5vw + 10.66px);
    font-size: 18px;
}


.workExperience {
    background-color: #000000;
}

h3 {
    font-size: 16px;
    color: #8491A0;
    text-transform: uppercase;
    margin: calc(6.7vw + 24px) calc(95.2vw + 160.66px) 0 calc(4.8vw + 2.66px);
    white-space: nowrap;
    /* Предотвращает перенос текста */
}

h4 {
    font-size: calc(2.1vw + 24px);
    color: white;
    margin: 8px calc(60.9vw + 199px) 40px calc(4.8vw + 2.66px);
    width: calc(34.3vw + 150px);
}

.pastWorkPlaces {
    color: white;
    display: flex;
    gap: 0px 40px;

}

.google,
.facebook,
.Dribbble {
    width: calc(8.9vw + 288px);
    margin: 40px 20px calc(8.9vw + 16px) calc(4.8vw + 3px);

}

.pastWorkPlaces h5 {
    font-size: 117px;
    color: #8491A0;
    width: 126px;

}

.pastWorkPlaces h6 {
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    width: calc(1.8vw + 313px);
    color: #FFFFFF;
}


.google,
.facebook,
.Dribbble,
span {
    width: calc(4.4vw + 304px);
    font-size: 16px;
    color: #8491A0;
}

.company-name1 {
    color: #3CC74E;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    width: calc(1.8vw + 313px);
}

.company-name2 {
    color: #609BFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    width: calc(1.8vw + 313px);
}

.company-name3 {
    color: #E95D90;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    width: calc(1.8vw + 313px);
}


.phcontent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #FFF3E4;
}

.phcontent img {
    width: calc(33.3vw + 240px);
}

.text-content {
    width: 50%;
}

.text-content h4 {
    color: #181823;
    width: calc(19.4vw + 250.33px);
    margin: calc(6.7vw + 24px) calc(9.2vw + 13px) 24px calc(4.8vw + 2.66px);
}

.text-content p {
    color: #5B6876;
    width: calc(25vw + 185px);
    margin: 0px calc(4.8vw + 2.66px) calc(4vw + 76.33px) calc(4.8vw + 2.66px);
    font-size: 18px;
}

.text-content a {
    color: #181823;
    width: 120px;
    margin: 0px calc(28.5vw + 121px) calc(7vw + 22px) calc(4.8vw + 2.66px);
    display: inline-block;
}


.skillset {
    background-color: #000000;
}


.skillsetContainerTxtBig {
    display: inline;
}



.skillsetContainer h4 {
    margin-top: calc(5.2vw + 45.33px);

}


.skillsetContainerTxtBig p {}

.aboutSkills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.productDesign,
.motionDesign,
.visualDesign,
.photography {
    margin: calc(6.7vw + 24px) calc(0.4vw + 18.66px);
}



.productDesign h6,
.motionDesign h6,
.visualDesign h6,
.photography h6 {
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    width: calc(1.8vw + 313px);
    color: #FFFFFF;
}


.skillsetContainer p {
    color: #8491A0;
    font-size: 18px;
    width: calc(4.4vw + 304px);
    margin: 0px;
}

.aboutSkills p {
    color: rgba(132, 145, 160, 1);
    font-size: 16px;
    width: 100%;
}



.elements {
    background-color: #000000;
}


.elementsList {
    overflow: hidden;
    /* Скрываем элементы, выходящие за пределы контейнера */
    width: 100%;
    /* Устанавливаем ширину для слайдера */


}

.element {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #181823;
    width: 340px;
    height: 140px;
    flex-shrink: 0;
    /* Элементы не будут сжиматься */


}

.elementsList ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(340px * 4);
    /* Ширина всего списка (количество элементов * ширина одного элемента) */
    animation: slide 12s infinite linear;
    /* Анимация на 12 секунд (4 элемента * 3 секунды на элемент) */

}


.element img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


@keyframes slide {
    0% {
        transform: translateX(0);
        /* Начальная позиция */
    }

    100% {
        transform: translateX(-100%);
        /* Сдвиг всех элементов на всю ширину слайдера */
    }
}

.myProjects {
    background-color: #000000;
}

.projectContainer {
    /* max-width: 1200px;
     margin: 0 auto; 
    padding: 20px;  */
    margin: 120px 72px auto 72px;

}


.projectContainer h3 {
    /* text-align: left; */
    width: 572px;
    margin: 120px 0px 8px 0px;
}


.projectContainer h4 {
    /* text-align: left; */
    display: inline-block;
    width: auto;
    margin: 0px 0px 80px 0px;
}

.projectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
}

.project {
    background-color: #000000;
    border-radius: 10px;
}

.project img {
    width: 100%;
}

.projectTxt {
    /* padding: 10px 0; */
    background-color: #181823;
    margin-top: -5px;
    padding: 40px 32px;
    margin-bottom: 24px;
}


.projectTxt h6 {
    font-size: 24px;
    margin-bottom: 13px;
    color: white;
}

.projectTxt p {
    color: #ccc;
    font-size: 18px;
    margin-bottom: 13px;
    font-weight: 400;
    line-height: 27px;


}

.view-more {
    margin-top: 30px;
    text-align: center;
}

.view-more a {
    background-color: #551a8b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
}

.view-more a:hover {
    background-color: #444;
}



@media (max-width: 736px) {
    .aboutSkills {
        grid-template-columns: repeat(1, 1fr);
    }

    .skillsetContainer p {
        color: #8491A0;
        font-size: 18px;
        margin: 0px;
        width: auto;
        text-align: center;
    }

    .elementsList ul {
        display: grid;
        /* Переключение на grid-сетку */
        grid-template-columns: repeat(2, 1fr);
        /* 2 элемента на горизонтальной оси */
        grid-template-rows: repeat(2, auto);
        /* 2 элемента на вертикальной оси */
        gap: 10px;
        /* Зазор между элементами */
        width: 100%;
        /* Ширина списка будет 100% */
        animation: none;
        /* Отключаем анимацию для grid */
    }

    .element {
        width: 100%;
        /* Каждый элемент будет занимать всю ширину своей grid-ячейки */
    }

}

@media (max-width:1490px) {

    .text-content {
        width: 100%;
    }

    .text-content h4,
    .text-content p {
        width: auto;
        text-align: center;
    }


    .workExperience h3,
    h4 {
        text-align: center;
        margin: 0px;
        width: auto;

    }

    .pastWorkPlaces {
        flex-direction: column;
        align-items: center;
    }

    .phcontent {
        justify-content: center;
    }

    .phcontent img {
        width: 100%;
    }
}





/* Медиазапрос для экранов шириной менее 600px */
@media (max-width: 970px) {

    body {
        background: #000000;
    }

    .logo {
        width: 78.43px;
        height: 24px;
        margin: 24px 217.57px 24px 20px;
    }


    .nav-links ul {
        display: none;
        justify-content: center;
        background-color: #000000;
        width: auto;
        z-index: 100;
        position: fixed;
    }

    .burger-menu {
        display: flex;
    }

    .nav-links.active ul {
        display: flex;
        flex-direction: column;
    }


    .nav-links ul li {
        display: block;
        padding: 15px;
    }



    /* */
    .robinW {
        display: flex;
        flex-wrap: wrap;
    }

    h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: calc(5.1vw + 20.05px);
        padding: 48px 20px 0px 20px;
    }

    .container img {
        width: 100%;
        /* Изображение будет подстраиваться под ширину контейнера */
    }

    .containerText {
        margin: 48px 20px 0px 20px;
        display: contents;
        max-width: 320px;
    }

    .containerText p {
        margin: 16px 20px 48px 20px;
        font-size: 18px;
        color: #FFFFFF;
    }

}
